.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0dcaf0;
}

.grid-container .card {
  color: #101214;
  margin-right: 3vw;
  margin-bottom: 3vh;
  width: 28vw;
  max-width: 28vw;
}
